body {
  background-color: #000;
  color: #fff;
}

section {
  background-color: #808080;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  height: 300px;
  width: 100%;
}

p {
  width: 50%;
}

.ac-flex-start {
  align-items: flex-start;
}

.ac-flex-end {
  align-items: flex-end;
}

.ac-center {
  align-items: center;
}

.ac-sb {
  align-content: space-between;
  flex-wrap: wrap;
}

.ac-sa {
  align-content: space-around;
  flex-wrap: wrap;
}

.ac-stretch {
  align-items: stretch;
  flex-wrap: wrap;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fe {
  align-items: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-b {
  align-items: baseline;
}

.ai-s {
  align-items: stretch;
}

.as-fe {
  align-self: flex-end;
}

.bounce {
  background-color: #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: slide-right 2s infinite;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-play-state: running;
}
@keyframes slide-right {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 200px;
  }
}

.bounce-2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: slide-right 5s infinite;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  animation-direction: reverse;
}
@keyframes slide-right {
  0% {
    margin-left: 0;
    background-color: #000;
  }
  100% {
    margin-left: 200px;
    background-color: #fff;
  }
}

#sect-15 {
  background-image: url(images/bg.jpg);
  width: 100%;
  height: 500px;
  padding: 20px;
  background-attachment: fixed;
  border: 10px dotted #fff;
  background-clip: content-box;
  background-position: top left;
  background-size: cover;
  border-radius: 20px;
}

#sect-16 table {
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
}
#sect-16 th, #sect-16 td {
  border: 1px solid #fff;
}

#sect-17 table {
  width: 100%;
  border: 1px solid #fff;
  border-spacing: 20px 10px;
}
#sect-17 th, #sect-17 td {
  border: 1px solid #fff;
}

#sect-18 {
  box-shadow: 0 10px 5px #fff;
}

#sect-19 caption {
  caption-side: bottom;
}
#sect-19 td {
  vertical-align: sub;
}

#sect-20 div {
  column-gap: 20px;
  column-fill: auto;
  column-rule: 2px solid #fff;
  column-width: 30px;
}

#sect-21 li {
  list-style-type: none;
}
#sect-21 li::before {
  content: counter(list1) ". ";
  counter-increment: list1;
}
#sect-21 ol {
  counter-reset: list1;
}
#sect-21 ol ol {
  counter-reset: list2;
}
#sect-21 ol ol li::before {
  content: counter(list1) ". " counter(list2) ".";
  counter-increment: list2;
}

#sect-22 p {
  cursor: help;
}

#sect-23 {
  direction: rtl;
}

#sect-24 img {
  width: 500px;
  height: auto;
  filter: grayscale(100%);
}

#sect-25 p {
  margin-right: 10px;
}
#sect-25 .flex {
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#sect-25 .flex .first {
  flex-basis: 100%;
  order: 1;
  background: #000;
}
#sect-25 .flex .second {
  order: 2;
  flex: 2 1 0;
  background: red;
  font: bold italic 20px sans-serif;
}
#sect-25 .flex .third {
  order: 3;
  background: red;
  flex: 1 1 0;
  font-variant: small-caps;
}

#sect-26 p {
  outline: 1px solid #fff;
  outline-offset: 10px;
  outline-width: thick;
}

#sect-27 {
  max-height: 50px;
  overflow: scroll;
}

#sect-28 .more {
  page-break-after: always;
}

#sect-29 .parent {
  perspective: 500px;
}
#sect-29 .parent p {
  background-color: #E6E6E6;
  transform: rotateY(-15deg);
  perspective-origin: 0 50%;
  color: #000;
}

#sect-30 a {
  pointer-events: none;
}

#sect-31 {
  quotes: #sect-31 #171 #sect-31 #187;
}
#sect-31 p {
  text-decoration: underline;
  text-decoration-color: red;
}

#sect-32 p {
  max-width: 100px;
  max-height: 150px;
  text-indent: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  text-transform: uppercase;
}

#sect-33 {
  perspective: 500px;
}
#sect-33 img {
  width: 100px;
  height: auto;
  perspective-origin: center left;
}
#sect-33 img:hover {
  transform: rotateZ(360deg);
  transition: 5s;
}

#sect-34 p {
  direction: rtl;
  unicode-bidi: bidi-override;
  user-select: none;
  white-space: wrap;
  word-break: break-all;
  word-spacing: 10px;
  writing-mode: vertical-lr;
}

* {
  color: #000;
}

#sect-35 a:active {
  color: #ff0000;
}

#sect-36 input:checked + p {
  background: red;
}

#sect-37 textarea:disabled {
  background-color: red;
}

#sect-38 li:first-child {
  color: #fff;
}

#sect-39 input:focus {
  background-color: yellow;
}
#sect-39:focus-within {
  background-color: #fff;
}

#sect-40 input:in-range {
  background-color: #00ff00;
}
#sect-40 input:out-of-range {
  background-color: #ff0000;
}

#slider {
  display: flex;
  justify-content: center;
}
#slider .cont-fluid {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
#slider .cont-fluid .viewport {
  width: 400px;
  overflow: hidden;
  transition: 0.5s;
  position: relative;
}
#slider .cont-fluid .viewport .slide-line {
  display: flex;
  width: 1800px;
  transition: 0.5s;
  overflow-y: hidden;
  height: 400px;
}
#slider .cont-fluid .viewport .slide-line .slide-item {
  width: 400px;
  height: auto;
}
#slider .cont-fluid .viewport .slide-line .slide-item img {
  width: 100%;
  height: auto;
}
#slider .control {
  cursor: pointer;
  position: absolute;
  top: 0;
  margin: auto;
  z-index: 300;
  transition: 0.5s;
}
#slider .control .next {
  height: 20px;
  width: 20px;
  position: relative;
}
#slider .control .next::before, #slider .control .next::after {
  content: "";
  width: 20px;
  position: absolute;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}
#slider .control .prev {
  height: 20px;
  width: 20px;
  position: relative;
}
#slider .control .prev::before, #slider .control .prev::after {
  content: "";
  width: 20px;
  position: absolute;
  height: 20px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(-135deg);
}

@media only screen and (max-width: 768px) {
  p {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
